<div class="row align-items-center justify-content-center">
  <div class="col-md-6 mb-4">
    <div class="card ripe-login-gradient form-white">
      <div class="card-body">
        <!-- Login Form -->
        <fieldset>
          <h2 class="text-center font-up font-bold py-4 white-text">Login</h2>
          <!-- Username -->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <input type="text" id="usernameForm" class="form-control" [(ngModel)]="user.username" mdbActive>
                <label class="active" for="usernameForm">Benutzername</label>
              </div>
            </div>
          </div>
          <!-- ./Username -->
          <!-- Passwort -->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <i class="fa fa-lock prefix white-text"></i>
                <input type="password" id="passwordForm" (keyup.enter)="login()" class="form-control" [(ngModel)]="user.password" mdbActive>
                <label class="active" for="passwordForm">Passwort</label>
              </div>
            </div>
          </div>
          <!-- ./Passwort -->
          <!-- Button -->
          <div class="text-center">
            <button (click)="login()" class="btn btn-outline-white waves-effect waves-light">Login</button>
          </div>
          <!-- ./Button -->
        </fieldset>
        <!-- ./Login Form -->
      </div>
    </div>
  </div>
</div>
