<h1>
  Jetzt Registrieren</h1>
<div class="row">
  <fieldset class="col-12">
    <!-- Username  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input type="text" id="usernameForm" class="form-control" [(ngModel)]="user.username" mdbActive>
          <label class="active" for="usernameForm">Benutzername (Anzeigename)</label>
        </div>
      </div>
    </div>
    <!-- /Username -->
    <!-- Passwort  -->
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <input type="password" id="pwFirstForm" class="form-control" [(ngModel)]="user.password" mdbActive>
          <label class="active" for="pwFirstForm">Passwort</label>
        </div>
      </div>
      <!-- /Passwort -->
      <!-- Passwort wiederholen  -->
      <div class="col-md-6">
        <div class="md-form">
          <input type="password" id="pwSecondForm" class="form-control" [(ngModel)]="user.passwordConfirm" mdbActive>
          <label class="active" for="pwSecondForm">Passwort wiederholen</label>
        </div>
      </div>
    </div>
    <!-- /Passwort wiederholen -->
    <!-- Name  -->
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <input type="text" id="firstnameForm" class="form-control" [(ngModel)]="user.firstname" mdbActive>
          <label class="active" for="firstnameForm">Vorname</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input type="text" id="lastnameForm" class="form-control" [(ngModel)]="user.lastname" mdbActive>
          <label class="active" for="lastnameForm">Nachname</label>
        </div>
      </div>
    </div>
    <!-- /Name -->
    <!-- EMail  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input type="email" id="mailForm" class="form-control" [(ngModel)]="user.email" mdbActive>
          <label class="active" for="mailForm">E-Mail</label>
        </div>
      </div>
    </div>
    <!-- /EMail -->
    <!-- Homepage -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input type="url" id="homepageForm" class="form-control" [(ngModel)]="user.homepage" mdbActive>
          <label class="active" for="homepageForm">Webseite</label>
        </div>
      </div>
    </div>
    <!-- /Homepage -->
    <!-- Ort -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input type="text" id="locationForm" class="form-control" [(ngModel)]="user.location" mdbActive>
          <label class="active" for="locationForm">Ort</label>
        </div>
      </div>
    </div>
    <!-- /Ort -->
    <!-- Geburtsdatum -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <label class="active" for="birthdateForm">Geburtsdatum</label>
          <input type="datetime-local" id="birthdateForm" class="form-control" [(ngModel)]="user.birthdate" mdbActive>
        </div>
      </div>
    </div>
    <!-- /Geburtsdatum -->

    <div class="pull-right">
      <button class="btn red btn-lg waves-light" type="submit" (click)="save()" mdbRippleRadius>Registrieren</button>
      <!-- <div class="col-md-3 md-form">
        <a class="btn red btn-lg waves-light" mdbRippleRadius>Registrieren</a>
      </div> -->
    </div>
  </fieldset>
</div>
