<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <!-- Header -->
    <legend>Banliste
      <div class="pull-right">
        <a class="btn btn-primary btn-sm" (click)="updateList()" mdbTooltip="erneut Synchronisieren" placement="bottom" alt="Synchronisieren">
          <i [class]="rotateActive ? 'fa fa-refresh fa-spin fa-fw' : 'fa fa-refresh'"></i>
        </a>
      </div>
    </legend>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="md-form">
          <input [(ngModel)]="config.itemsPerPage" type="number" id="itemsPerPageForm" min="1" class="form-control" mdbActive>
          <label for="itemsPerPageForm">Anzahl/Seite</label>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="md-form">
          <input [(ngModel)]="filter" type="text" id="searchForm" class="form-control" mdbActive>
          <label for="searchForm">Suchen</label>
        </div>
      </div>
    </div>

    <div class="tableXScroll">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Benutzername</th>
            <th>Grund</th>
            <th>Gebannt bis</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banEntry of bans | userFilter: filter | paginate: config">
            <td>{{ banEntry.username }}</td>
            <td>{{ banEntry.reason }}</td>
            <td *ngIf="banEntry.permanent">
              <b>PERMANENT</b>
            </td>
            <td *ngIf="!banEntry.permanent">{{ banEntry.expiresAt }}</td>
            <td>
              <button (click)="editBan(banEntry)" class="btn btn-sm btn-warning" mdbTooltip="" placement="top">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <!-- Delete Ban SweetAlert -->
              <button class="btn btn-sm btn-danger" [swal]="deleteBan" mdbTooltip="Benutzer entbannen" placement="top">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <swal #deleteBan title="Benutzer entbannen" text="Möchtest du {{banEntry.username}} wirklich entbannen?" type="question"
                [showCancelButton]="true" [focusCancel]="true" [options]="{ confirmButtonText: 'Ja, entbannen', cancelButtonText: 'Abbrechen' }"
                (confirm)="deleteBan(banEntry)">

              </swal>
              <!-- ./Delete Ban SweetAlert  -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="justify-content ">
      <pagination-controls [id]="config.id " [maxSize]="maxSize " [directionLinks]="directionLinks " [autoHide]="autoHide
                " [previousLabel]="labels.previousLabel " [nextLabel]="labels.nextLabel " [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel
                " [screenReaderPageLabel]="labels.screenReaderPageLabel " [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel "
        (pageChange)="onPageChange($event) "></pagination-controls>
    </div>
    <!-- ./Pagination -->
  </div>
</div>