<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="true">
  <!-- Logo & Titel -->
  <logo>
    <a class="logo navbar-brand" [routerLink]="['home']">
      <img src="assets/LogoPacMan_preview.png" height="30" alt="">
      <strong>PointLess</strong>
    </a>
  </logo>
  <!-- ./Logo & Titel -->
  <!-- Links -->
  <links>
    <!-- Items Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['threads']">Beiträge</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">News</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Live Chat</a>
      </li>
    </ul>
    <!-- ./Items Links -->
    <!-- Items Rechts -->
    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Suchen" aria-label="Suchen">
      </form>
      <!-- einloggen/registrieren -->

      <li *ngIf="!loggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['auth/register']">Registrieren</a>
      </li>
      <li *ngIf="!loggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="login()" [routerLink]="['auth/login']">Einloggen</a>
      </li>
      <!-- ./einloggen/registrieren -->
      <!-- Admin CP -->
      <li *ngIf="loggedIn && modRank" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin']" mdbTooltip="Forumverwaltung" placement="bottom">
          <i class="fa fa-wrench"></i>
        </a>
      </li>
      <!-- ./Admin CP -->
      <!-- User eingeloggt -->

      <li *ngIf="loggedIn" dropdown class="nav-item dropdown">
        <a dropdownToggle class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id='navbarNotificationDropdown' aria-labelledby="navbarNotificationDropdown">
          <app-notifications></app-notifications>
        </div>
      </li>

      <li *ngIf="loggedIn" class="nav-item dropdown" [routerLinkActive]="['active']" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle waves-effect waves-light" id="navbarAccountDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Profil</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarAccountDropdown">
          <a class="dropdown-item waves-effect waves-light" [routerLink]="['profile/about']" [routerLinkActive]="['active']">Mein Account</a>
          <a class="dropdown-item waves-effect waves-light" (click)="logout()">Logout</a>
        </div>
      </li>
      <!-- ./User eingeloggt -->
    </ul>
    <!-- ./Items Rechts -->
  </links>
  <!-- ./Links -->
</mdb-navbar>
<!-- ./Navbar -->