<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <legend>Benutzerverwaltung
      <div class="pull-right">
        <a class="btn btn-primary btn-sm" (click)="updateList()" mdbTooltip="erneut Synchronisieren" placement="bottom" alt="Synchronisieren">
          <i [class]="rotateActive ? 'fa fa-refresh fa-spin fa-fw' : 'fa fa-refresh'"></i>
        </a>
      </div>
    </legend>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="md-form">
          <input [(ngModel)]="config.itemsPerPage" type="number" id="itemsPerPageForm" min="1" class="form-control" mdbActive>
          <label for="itemsPerPageForm">Anzahl/Seite</label>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="md-form">
          <input [(ngModel)]="filter" type="text" id="searchForm" class="form-control" mdbActive>
          <label for="searchForm">Suchen</label>
        </div>
      </div>
    </div>

    <div class="tableXScroll">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Benutzername</th>
            <th>E-Mail</th>
            <th>Name</th>
            <th>Geb.Datum</th>
            <th>Ort</th>
            <th>Level</th>
            <th>Rang</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userEntry of users | userFilter: filter | paginate: config">
            <td>{{ userEntry.username }}</td>
            <td>{{ userEntry.email }}</td>
            <td>{{ userEntry.lastname }}, {{ userEntry.firstname }}</td>
            <td>{{ userEntry.birthdate | date: 'dd.MM.yyyy' }}</td>
            <td>{{ userEntry.location }}</td>
            <td>{{ userEntry.level }}</td>
            <td>{{ userEntry.rank }}</td>
            <td>
              <button (click)="editUser(userEntry)" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="justify-content">
      <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel" [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <!-- ./Pagination -->
  </div>
</div>
