<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <!-- Header -->
    <legend>Kategorien</legend>
    <p>
      admin-thread-categories works!
    </p>
  </div>
</div>
