<!-- Boardwide trends -->
<div id="trends">
  <div class="card">
    <div class="card-header red lighten-1 white-text">
      Aktuelle Trends
    </div>
    <div class="card-body">
      <h4 class="card-title">BEISPIEL</h4>
      <p class="card-text">Das ist ein Beispieltext.</p>
      <a id="newThread" class="btn btn-red lighten-1 waves-light" mdbRippleRadius>Go somewhere</a>
    </div>
  </div>
</div>
<!-- ./Boardwide trends-->