<h1>Neuen Thread erstellen</h1>
<div class="row">
  <div class="col-md-4">
    <div class="md-form">
      <input value="" type="text" id="titleForm" class="form-control" [(ngModel)]="thread.titel" mdbActive>
      <label class="active" for="titleForm">Titel</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="md-form">
      <textarea mdbActive type="text" id="mainForm" class="md-textarea" [(ngModel)]="thread.threadText"></textarea>
      <label for="mainForm">Inhalt</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="md-form">
      <input type="text" id="tagForm" class="form-control" [(ngModel)]="_tags" mdbActive>
      <label for="tagForm">Tags (mit , getrennt)</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a class="btn-sm btn-blue lighten-1 waves-light pull-right" id="saveThread" (click)="createThread()" mdbRippleRadius>
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern</a>
  </div>
