<div *ngIf="comments">
  <div *ngFor="let comment of comments">
    <div class="row">
      <div class="col-12 card">
        <div class="card-body row">
          <div class="col-12 col-md-5 col-lg-3 profilInfo">
            <!-- <div class="row justify-content-center align-item-center">
            <ngx-avatar size="125" [name]="threadByID.username" [gravatarId]="threadByID.email" [routerLink]="['/user/', threadByID.username]"></ngx-avatar>
          </div>
          <div class="center-text">
            <a class="userLink" [routerLink]="['/user/', threadByID.username]">{{threadByID.username}}</a>
          </div>
          <div class="rank center-text" [style.color]="threadByID.hexcolor">
            <b>{{threadByID.label}}</b>
          </div>
          <div class="row">
            <div class="col-9 col-lg-7 brightFont">
              <i class="fa fa-calendar"></i> Registriert seit:
            </div>
            <div>
              {{threadByID.registeredSince | date: 'dd. MMM. yyyy'}}
            </div>
          </div> 
        -->
            <div class="row">
              <div class="col-9 col-lg-7 brightFont">
                <i class="fa fa-thumbs-up"></i> Daumen hoch:
              </div>
              <div>
                {{comment.upvotes}}
              </div>
            </div>
            <div class="row">
              <div class="col-9 col-lg-7 brightFont">
                <i class="fa fa-thumbs-down"></i> Daumen runter:
              </div>
              <div>
                {{comment.downVotes}}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9">
            <div>
              {{comment.commentText}}
            </div>
            <hr>
            <div class="createInfo brightFont">
              <!-- <a class="userLink" [routerLink]="['/user/', threadByID.username]">{{threadByID.username}}</a>, {{threadByID.creationDate | date: 'dd. MMM. yyyy'}} um {{threadByID.creationDate
            | date:'HH:mm'}} Uhr -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>