.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 5px;
}

.chat li.right .chat-body
{
    margin-right: 5px;
}

.text-muted {
    margin-right: 5px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

#livechat {
    overflow-y: auto;
    max-height: 25em;
}