<!-- row -->
<div class="row">
  <!-- Hauptspalte  -->
  <div class="col-12 col-md-7 col-lg-8">
    <!-- Boardwide trends -->
    <div id="trends">
      <div class="card">
        <div class="card-header red lighten-1 white-text">
          Aktuelle Trends
        </div>
        <div class="card-body">
          <h4 class="card-title">BEISPIEL</h4>
          <p class="card-text">Das ist ein Beispieltext.</p>
          <a class="btn btn-red lighten-1 waves-light" mdbRippleRadius>Go somewhere</a>
        </div>
      </div>
    </div>
    <!-- ./Boardwide trends-->
    <br />
    <!-- Interesting Threads -->
    <div id="interestingThreads">
      <div class="card">
        <div class="card-header blue lighten-2 white-text">
          Interessante Beiträge
        </div>
        <div class="card-body">
          <h4 class="card-title">BEISPIEL</h4>
          <p class="card-text">Das ist ein Beispieltext.</p>
          <a class="btn btn-blue lighten-4 waves-light" mdbRippleRadius>Beispielbutton</a>
        </div>
      </div>
    </div>
    <!-- ./Interesting Threads -->
  </div>
  <!-- ./Hauptspalte -->
  <!-- Rechte Spalte-->
  <div class="col-12 col-md-5 col-lg-4">
    <!-- News -->
    <div class="col-12" id="news">
      <div class="card mb-3">
        <h3 class="card-header">News</h3>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam</p>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam</p>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam</p>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam</p>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam</p>
        </div>
      </div>
    </div>
    <!-- ./News -->
    <!-- Livechat -->
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <span class="fa fa-comment"></span> LiveChat
          <div class="btn-group float-right" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" mdbRippleRadius>
            </button>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item">
                <i class="fa fa-refresh"></i> Refresh</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item">
                <i class="fa fa-check"></i> Aktiv</a>
              <a class="dropdown-item">
                <i class="fa fa-clock-o"></i> Abwesend</a>
              <a class="dropdown-item">
                <i class="fa fa-minus-circle"></i> Beschäftigt</a>
            </div>
          </div>
        </div>
        <div class="card-block" id="livechat">
          <ul class="chat">
            <li class="left clearfix">
              <div class="chat-body clearfix">
                <div>
                  <strong class="primary-font">User1</strong>
                  <small class="float-right text-muted">
                    <span class="fa fa-clock-o"></span> 19:53</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <div class="chat-body clearfix">
                <div>
                  <strong class="primary-font">User2</strong>
                  <small class="float-right text-muted">
                    <span class="fa fa-clock-o"></span> 20:13</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <div class="chat-body clearfix">
                <div>
                  <strong class="primary-font">User3</strong>
                  <small class="float-right text-muted">
                    <span class="fa fa-clock-o"></span> 21:00</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <div class="chat-body clearfix">
                <div>
                  <strong class="primary-font">User4</strong>
                  <small class="float-right text-muted">
                    <span class="fa fa-clock-o"></span> 21:15</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control form-control-sm" placeholder="Nachricht schreiben..." />
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat">
                Senden</button>
            </span>
          </div>
        </div>
      </div>
      <!-- ./Livechat -->
    </div>
    <!-- ./Rechte Spalte -->
  </div>
  <!-- ./row -->
</div>