<!-- Array befüllt -->
<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group pull-right" dropdown>
        <button dropdownToggle type="button" class="btn blue dropdown-toggle waves-light btn-sm" mdbRippleRadius>
          Sortieren nach...
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Aufrufe</a>
          <a class="dropdown-item">Neueste</a>
          <a class="dropdown-item">Bewertung</a>
          <a class="dropdown-item">Anzahl der Kommentare</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="col-8 col-md-8 col-lg-6">Beiträge</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="tableXScroll">
        <table class="table table-hover">
          <thead class="blue" style="color: white;">
            <tr>
              <th colspan="2">Beiträge</th>
              <th>Erstelldaten</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let threadItem of threads">
              <td [routerLink]="['/threads/', threadItem.threadID]">
                <div id="title">{{threadItem.titel}}</div>
                <div id="text">{{threadItem.threadText}}</div>
              </td>
              <td class="noPadding">
                <div class="container">
                  <div class="row">
                    <div style="width:90px">Aufrufe:</div>
                    <div>{{threadItem.views}}</div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div style="width:90px">Kommentare:</div>
                    <div></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div style="width:70px">
                      <i class="fa fa-thumbs-up"></i> {{threadItem.upvotes}}
                    </div>
                    <div>
                      <i class="fa fa-thumbs-down"></i> {{threadItem.downVotes}}
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div id="text">{{threadItem.creationDate | date: 'dd.MM.yyyy'}}</div>
                <div id="text">{{threadItem.creationDate | date: 'HH:mm:ss'}}</div>
                <div id="text">von
                  <a class="userLink" [routerLink]="['/profile/about']">{{threadItem.username}}</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class=" row ">
    <div class="col-lg-12 ">
      <a [routerLink]="[ 'create'] " class="btn-sm btn-blue lighten-1 waves-light pull-right " mdbRippleRadius>
        <i class="fa fa-pencil " aria-hidden="true "></i> Neuer Beitrag</a>
    </div>
  </div>
</div>