.tableXScroll {
    overflow-y: auto;
    white-space: nowrap;
}

.btn-sm {
    font-size: 10px;
    color: white;
}

#title {
    font-weight: bold;
}

.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

.noPadding {
    padding: auto;
    border-left: none;
}

.userLink {
    color: inherit
}

.userLink:hover {
    color: inherit;
    text-decoration: underline;
}
