.createInfo {
    font-size: 75%;
}

.profilInfo {
    border: 1px rgba(189, 178, 178, 0.582) solid;
}

.brightFont {
    color: rgb(121, 121, 121)
}

.comments {
    margin-top: 1em;
}

.rank {
    font-size: 80%;
    margin-bottom: 1em;
}

.center-text {
    text-align: center
}

.justify-content-center {
    margin-top: 10px;
}

.userLink {
    color: inherit;
}

.userLink:hover {
    color: inherit;
    text-decoration: underline;
}

.btn-sm {
    font-size: 10px;
    color: white;
}