<div *ngIf="thread">
  <div class="row">
    <h2>{{ thread.titel }}</h2>
  </div>
  <div class="row createInfo">
    Dieser Beitrag wurde von&nbsp;
    <a class="userLink" [routerLink]="['/profile/', thread.userID]">{{thread.username}}</a>
    &nbsp;am {{thread.creationDate | date: 'dd. MMM. yyyy'}} um {{thread.creationDate | date: 'HH:mm'}} Uhr gestellt.
  </div>
  <div class="row">
    <div class="col-12 card">
      <div class="card-body row">
        <div class="col-12 col-md-5 col-lg-3 profilInfo">
          <div class="row justify-content-center align-item-center">
            <ngx-avatar size="125" [name]="thread.username" [gravatarId]="thread.email" [routerLink]="['/profile/', thread.userID]"></ngx-avatar>
          </div>
          <div class="center-text">
            <a class="userLink" [routerLink]="['/profile/', thread.userID]">{{thread.username}}</a>
          </div>
          <div class="rank center-text" [style.color]="thread.hexcolor">
            <b>{{thread.label}}</b>
          </div>
          <div class="row">
            <div class="col-9 col-lg-7 brightFont">
              <i class="fa fa-calendar"></i> Registriert seit:
            </div>
            <div>
              {{thread.registeredSince | date: 'dd. MMM. yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-9 col-lg-7 brightFont">
              <i class="fa fa-thumbs-up"></i> Daumen hoch:
            </div>
            <div>
              {{thread.upvotes}}
            </div>
          </div>
          <div class="row">
            <div class="col-9 col-lg-7 brightFont">
              <i class="fa fa-thumbs-down"></i> Daumen runter:
            </div>
            <div>
              {{thread.downVotes}}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div>
            {{thread.threadText}}
          </div>
          <hr>
          <div>
            <div class="pull-left createInfo brightFont">
              <a class="userLink " [routerLink]="['/profile/', thread.userID]">{{thread.username}}</a>, {{thread.creationDate | date: 'dd. MMM. yyyy'}} um {{thread.creationDate | date:'HH:mm'}}
              Uhr
            </div>
            <div class="pull-right" *ngIf="thread.userID == getCurrentUser.uuid">
              <!-- BUTTON EDIT und DELETE -->
              <a [routerLink]="[ 'delete'] " class="btn-sm btn-blue lighten-1 waves-light" mdbRippleRadius>
                <i class="fa fa-trash " aria-hidden="true "></i> Löschen</a>
              <a [routerLink]="[ 'edit'] " class="btn-sm btn-blue lighten-1 waves-light" mdbRippleRadius>
                <i class="fa fa-pencil " aria-hidden="true "></i> Bearbeiten</a>
              <!-- -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comments col-12">
    <h5>Kommentare:</h5>
    <app-comment></app-comment>
  </div>
</div>