<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <legend>System Nachrichten
      <div class="pull-right">
        <a class="btn btn-primary btn-sm" (click)="updateList()" mdbTooltip="erneut Synchronisieren" placement="bottom" alt="Synchronisieren">
          <i [class]="'fa fa-refresh'"></i>
        </a>
      </div>
    </legend>

    <div class="tableXScroll">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Text</th>
            <th>Datum</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notifiactionEntry of notification | userFilter: filter | paginate: config">
            <td>{{ notifiactionEntry.notificationText }}</td>
            <td>{{ notifiactionEntry.notificationDate | date: 'dd.MM.yyyy' }}</td>
            <td>
              <button (click)="deleteNotification(notifiactionEntry.notificationId)" class="btn btn-sm btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="justify-content">
      <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel" [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <!-- ./Pagination -->

    <h4>
      Neue Nachricht</h4>
    <div class="row">
      <fieldset class="col-12">

        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" class="form-control" [(ngModel)]="_notification.notificationText" mdbActive>
              <label class="active" for="usernameForm">Nachrichten Inhalt</label>
            </div>
          </div>
        </div>

        <div class="pull-right">
          <button class="btn red btn-lg waves-light" type="submit" (click)="addNotification()" mdbRippleRadius>Hinzufügen</button>
          <!-- <div class="col-md-3 md-form">
            <a class="btn red btn-lg waves-light" mdbRippleRadius>Registrieren</a>
          </div> -->
        </div>
      </fieldset>
    </div>
  </div>
</div>