<mdb-navbar SideClass="navbar">
    <logo>
        <h3>Notifications</h3>
    </logo>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  waves-light" (click)="syncNotifications()">Aktualisieren</a>
            </li>
        </ul>
    </links>
</mdb-navbar>


<ul class="notifications">
    <li *ngFor="let notification of notifications" class="notification">
        <div class="media">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <div class="media-body">
                <p class="notification-desc">{{notification.notificationText}}</p>
                <div class="notification-meta">
                    <small>{{notification.notificationDate | date: 'dd.MM.yyyy'}}</small>
                </div>
            </div>
        </div>
    </li>
</ul>