<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <!-- Header -->
    <legend>Ränge
      <div class="pull-right">
        <a class="btn btn-primary btn-sm" (click)="updateList()" mdbTooltip="erneut Synchronisieren" placement="bottom" alt="Synchronisieren">
          <i [class]="rotateActive ? 'fa fa-refresh fa-spin fa-fw' : 'fa fa-refresh'"></i>
        </a>
      </div>
    </legend>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="md-form">
          <input [(ngModel)]="config.itemsPerPage" type="number" id="itemsPerPageForm" min="1" class="form-control" mdbActive>
          <label for="itemsPerPageForm">Anzahl/Seite</label>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="md-form">
          <input [(ngModel)]="filter" type="text" id="searchForm" class="form-control" mdbActive>
          <label for="searchForm">Suchen</label>
        </div>
      </div>
    </div>

    <div class="tableXScroll">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Bezeichnung</th>
            <th>Level</th>
            <th>Farbe</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rankEntry of ranks | userFilter: filter | paginate: config">
            <td>{{ rankEntry.label }}</td>
            <td [class.teamRank]="rankEntry.id >= 10">{{ rankEntry.id }}</td>
            <td>
              <span class="badge badge-pill" [style.background]="rankEntry.hexcolor">{{ rankEntry.hexcolor }}</span>
              <!-- <input class="form-control" [(colorPicker)]="rankEntry.hexcolor" [cpPosition]="'bottom'" [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true"
                [style.background]="rankEntry.hexcolor" /> -->
            </td>
            <td>
              <button (click)="editRank(rankEntry)" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="justify-content">
      <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel" [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <!-- ./Pagination -->
  </div>
</div>