<h1>Mein Profil</h1>
<div class="row">
  <div class="col-12 col-sm-4 col-md-3">
    <app-profile></app-profile>
  </div>
  <div class="col-12 col-sm-8 col-md-9">
    <h3>Über mich</h3>
    <!-- Avatar -->
    <div class="row">
      <div class="col-md-3">
        <!-- Falls E-Mail bei Gravatar nicht Registriert ist username als Fallback für Generic Avatar-->
        <ngx-avatar size="180" [name]="currentUser.username" [gravatarId]="currentUser.email"></ngx-avatar>
      </div>
      <div class="col-md-9">
        <div class="card grey lighten-3 text-center z-depth-2">
          <div class="card-body">
            <p class="text-justify mb-0">
              <i class="fa fa-info-circle"></i> Wir benutzen Gravatar als Plattform für Avatare. Über deine angegebene E-Mail Adresse zeigen wir hier
              deinen Gravatar an. Sollte deine E-Mail Adresse nicht bei Gravatar Registriert sein, wird ein einfarbiger Avatar
              aus deinem Benutzernamen erzeugt. Zum Anmelden bei Gravatar klicke
              <a href="https://de.gravatar.com" target="_blank">hier</a>.
          </div>
        </div>
      </div>
    </div>
    <!-- /Avatar -->
    <br>
    <!-- Username  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>Username: {{ currentUser.username }}</p>
        </div>
      </div>
    </div>
    <!-- /Username -->
    <!-- Name  -->
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <p>Vorname: {{ currentUser.firstname }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <p>Nachname: {{ currentUser.lastname }}</p>
        </div>
      </div>
    </div>
    <!-- /Name -->
    <!-- EMail  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>E-Mail: {{ currentUser.email }} </p>
        </div>
      </div>
    </div>
    <!-- /EMail -->
    <!-- BIO -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>Biographie: {{ currentUser.biography }}</p>
        </div>
      </div>
    </div>
    <!-- /BIO -->
    <!-- Homepage -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>Homepage: {{ currentUser.homepage }}</p>
        </div>
      </div>
    </div>
    <!-- /Homepage -->
    <!-- Ort -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>Ort: {{ currentUser.location }}</p>
        </div>
      </div>
    </div>
    <!-- /Ort -->
    <!-- Geburtsdatum -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <p>
            Geburtsdatum: {{ currentUser.birthdate | date: 'dd.MM.yyyy' }}
          </p>
        </div>
      </div>
    </div>
    <!-- /Geburtsdatum -->
  </div>
</div>
