<div class="row">
  <div class="col-12 col-md-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-12 col-md-9">
    <!-- Header -->
    <legend>Systemübersicht</legend>
    <div class="row">
      <div class="col-12 col-md-4 padding-0">
        <div class="tableXScroll">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td colspan="2" class="text-center table-active"><b>Threads</b></td>
              </tr>
              <tr>
                <th># Threads</th>
                <td>{{ allThreads }}</td>
              </tr>
              <tr>
                <th># Benutzer</th>
                <td>{{ allUsers }}</td>
              </tr>
              <tr>
                <th># Aktive User</th>
                <td>Larry</td>
              </tr>
              <tr>
                <th># Aktive User</th>
                <td>Larry</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4 padding-0">
        <div class="tableXScroll">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td colspan="2" class="text-center table-active"><b>Benutzer</b></td>
              </tr>
              <tr>
                <th># Threads</th>
                <td>{{ allThreads }}</td>
              </tr>
              <tr>
                <th># Benutzer</th>
                <td>{{ allUsers }}</td>
              </tr>
              <tr>
                <th># Aktive User</th>
                <td>Larry</td>
              </tr>
              <tr>
                <th># Aktive User</th>
                <td>Larry</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4 padding-0">
        <div class="tableXScroll">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td colspan="2" class="text-center table-active"><b>Backend Infos</b></td>
              </tr>
              <tr>
                <td>CPU Threads</td>
                <td>{{ cpuThreads }}</td>
              </tr>
              <tr>
                  <td>Load average</td>
                  <td>{{ backendAvgLoad }}</td>
              </tr>
              <tr>
                <td>RAM usage</td>
                <td>{{ usedMem }}/{{ maxMem }} MB</td>
              </tr>
              <tr>
                <td>Host OS</td>
                <td>{{ hostOS }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
