<!-- Menü -->
<div class="list-group">
  <div class="list-group-item">
    Hallo, {{ currentUser.firstname }}!
  </div>
  <a class="list-group-item" [routerLink]="['/profile/about']" [routerLinkActive]="['active']">
    <i class="fa fa-user"></i> Über mich</a>
  <a class="list-group-item" [routerLink]="['/profile/edit']" [routerLinkActive]="['active']">
    <i class="fa fa-pencil"></i> Profil Bearbeiten</a>
  <a class="list-group-item" [routerLink]="['/profile/follower']" [routerLinkActive]="['active']">
    <i class="fa fa-address-book"></i> Follower</a>

</div>
<!-- /Menü -->
