<h1>Mein Profil</h1>
<div class="row">
  <div class="col-12 col-sm-4 col-md-3">
    <app-profile></app-profile>
  </div>
  <div class="col-12 col-sm-8 col-md-9">
    <h3>Über mich</h3>
    <!-- Avatar -->
    <div class="row">
      <div class="col-md-3">
        <!-- Falls E-Mail bei Gravatar nicht Registriert ist usrname als Fallback für Generic Avatar-->
        <ngx-avatar size="180" [name]="user.username" [gravatarId]="user.email"></ngx-avatar>
      </div>
      <div class="col-md-9 d-none d-sm-block">
        <div class="card grey lighten-3 text-center z-depth-2">
          <div class="card-body">
            <p class="text-justify mb-0">
              <i class="fa fa-info-circle"></i> Wir benutzen Gravatar als Plattform für Avatare. Über deine angegebene E-Mail Adresse zeigen wir hier
              deinen Gravatar an. Sollte deine E-Mail Adresse nicht bei Gravatar Registriert sein, wird ein einfarbiger Avatar
              aus deinem Benutzernamen erzeugt. Zum Anmelden bei Gravatar klicke
              <a href="https://de.gravatar.com" target="_blank">hier</a>.
          </div>
        </div>
      </div>
    </div>
    <!-- /Avatar -->
    <br>
    <!-- Username  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input value="{{ user.username }}" type="text" id="usernameForm" class="form-control" [value]="user.username" (input)="user.username = $event.target.value"
            mdbActive>
          <label class="active" for="usernameForm">Benutzername (Anzeigename)</label>
        </div>
      </div>
    </div>
    <!-- /Username -->
    <!-- Name  -->
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <input value="{{ user.firstname }}" type="text" id="firstnameForm" class="form-control" [value]="user.firstname" (input)="user.firstname = $event.target.value"
            mdbActive>
          <label class="active" for="firstnameForm">Vorname</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input value="{{ user.lastname }}" type="text" id="lastnameForm" class="form-control" [value]="user.lastname" (input)="user.lastname = $event.target.value"
            mdbActive>
          <label class="active" for="lastnameForm">Nachname</label>
        </div>
      </div>
    </div>
    <!-- /Name -->
    <!-- EMail  -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input value="{{ user.email }}" type="email" id="mailForm" class="form-control" [value]="user.email" (input)="user.email = $event.target.value"
            mdbActive>
          <label class="active" for="mailForm">E-Mail</label>
        </div>
      </div>
    </div>
    <!-- /EMail -->
    <!-- BIO -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <textarea mdbActive type="text" id="bioForm" class="md-textarea" [value]="user.biography" (input)="user.biography = $event.target.value"></textarea>
          <label for="bioForm">Über mich - wird unter jedem Beitrag von dir angezeigt</label>
        </div>
      </div>
    </div>
    <!-- /BIO -->
    <!-- Homepage -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input value="{{ user.homepage }}" type="url" id="homepageForm" class="form-control" [value]="user.homepage" (input)="user.homepage = $event.target.value"
            mdbActive>
          <label class="active" for="homepageForm">Webseite</label>
        </div>
      </div>
    </div>
    <!-- /Homepage -->
    <!-- Ort -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input value="{{ user.location }}" type="text" id="locationForm" class="form-control" [value]="user.location" (input)="user.location = $event.target.value"
            mdbActive>
          <label class="active" for="locationForm">Ort</label>
        </div>
      </div>
    </div>
    <!-- /Ort -->
    <!-- Geburtsdatum -->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <input value="{{ user.birthdate | date: 'dd.MM.yyyy' }}" type="text" id="birthdateForm" class="form-control" disabled mdbActive>
          <label class="active" for="birthdateForm">Geburtsdatum</label>
        </div>
      </div>
    </div>
    <!-- /Geburtsdatum -->
  </div>
</div>

<div class="fixed-bottom">

  <div class="pull-right">
    <div class="col-md-3 md-form">
      <a class="btn red btn-lg waves-light" (click)="save()" mdbRippleRadius>Speichern</a>
    </div>
  </div>
</div>
