<!-- System Management -->
<div class="list-group">
  <div class="list-group-item">
    <i class="fa fa-terminal mr-1"></i>Systemverwaltung
  </div>
  <a class="list-group-item" [routerLink]="['/admin/overview']" [routerLinkActive]="['active']">
    Übersicht</a>
  <a class="list-group-item" [routerLink]="['/admin/system/overview']" [routerLinkActive]="['active']">
    Systemstatus</a>
  <a class="list-group-item" [routerLink]="['/admin/system/notifications']" [routerLinkActive]="['active']">
    System Nachrichten</a>
  <a class="list-group-item" *ngIf="userLevel >= 80" [routerLink]="['/admin/system/configuration']" [routerLinkActive]="['active']">
    Konfiguration</a>
</div>
<!-- ./System Management -->
<!-- Thread Management -->
<div class="list-group">
  <div class="list-group-item">
    <i class="fa fa-list mr-1"></i>Threadverwaltung
  </div>
  <a class="list-group-item" [routerLink]="['/admin/threads/categories']" [routerLinkActive]="['active']">
    Kategorien</a>
  <a class="list-group-item" [routerLink]="['/admin/threads/overview']" [routerLinkActive]="['active']">
    Threads</a>
  <a class="list-group-item" [routerLink]="['/admin/threads/comments']" [routerLinkActive]="['active']">
    Kommentare</a>
  <a class="list-group-item" [routerLink]="['/admin/threads/tags']" [routerLinkActive]="['active']">
    Tags</a>
</div>
<!-- ./Thread Management -->
<!-- User Management -->
<div class="list-group" *ngIf="userLevel >= 11">
  <div class="list-group-item">
    <i class="fa fa-users mr-1"></i>Benutzerverwaltung
  </div>
  <a class="list-group-item" [routerLink]="['/admin/users/overview']" [routerLinkActive]="['active']">
    Benutzer</a>
  <a class="list-group-item" [routerLink]="['/admin/users/ranks']" [routerLinkActive]="['active']">
    Ränge</a>
  <a class="list-group-item" [routerLink]="['/admin/users/bans']" [routerLinkActive]="['active']">
    Bans</a>
</div>
<!-- ./User Management -->