<!-- LoadingModal -->
<div *ngIf="loadingModal" [config]="{ show: true, keyboard: false, ignoreBackdropClick: true }" mdbModal #loginLoading="mdb-modal"
  class="modal fade dark" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog loading-modal modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="lds-css ng-scope">
          <div style="width:100%;height:100%" class="lds-pacman">
            <div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./LoadingModal -->

<!-- Admin CP - UserEdit -->
<div *ngIf="editUserModal && eUser" [config]="{ show: true, ignoreBackdropClick: true }" mdbModal #editUserModal="mdb-modal"
  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Benutzer Bearbeiten: {{ eUser.username }}</h4>
        <button type="button" class="close pull-right" aria-label="Schliessen" (click)="closeAdminEditUserModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Username  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="usernameForm" class="form-control" [(ngModel)]="eUser.username" mdbActive>
              <label class="active" for="usernameForm">Benutzername</label>
            </div>
          </div>
        </div>
        <!-- ./Username -->
        <!-- Name  -->
        <div class="row">
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="firstnameForm" class="form-control" [(ngModel)]="eUser.firstname" mdbActive>
              <label class="active" for="firstnameForm">Vorname</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="lastnameForm" class="form-control" [(ngModel)]="eUser.lastname" mdbActive>
              <label class="active" for="lastnameForm">Nachname</label>
            </div>
          </div>
        </div>
        <!-- ./Name -->
        <!-- EMail  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="email" id="mailForm" class="form-control" [(ngModel)]="eUser.email" mdbActive>
              <label class="active" for="mailForm">E-Mail</label>
            </div>
          </div>
        </div>
        <!-- ./EMail -->
        <!-- BIO -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <!-- <app-ngx-editor [placeholder]="'Ich bin ein kleiner Spasti'" [spellcheck]="true" [(ngModel)]="eUser.biography"></app-ngx-editor> -->
              <textarea mdbActive type="text" id="bioForm" class="md-textarea" [(ngModel)]="eUser.biography"></textarea>
              <label for="bioForm">Über mich</label>
            </div>
          </div>
        </div>
        <!-- ./BIO -->
        <!-- Homepage -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="url" id="homepageForm" class="form-control" [(ngModel)]="eUser.homepage" mdbActive>
              <label class="active" for="homepageForm">Webseite</label>
            </div>
          </div>
        </div>
        <!-- ./Homepage -->
        <!-- Ort -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="locationForm" class="form-control" [(ngModel)]="eUser.location" mdbActive>
              <label class="active" for="locationForm">Ort</label>
            </div>
          </div>
        </div>
        <!-- ./Ort -->
        <!-- Geburtsdatum -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <my-date-picker name="mydate" id="birthdateForm" [options]="myDatePickerOptions" [(ngModel)]="datepickObj"></my-date-picker>
              <!-- <input value="{{ eUser.birthdate | date: 'dd.MM.yyyy' }}" type="text" id="birthdateForm" class="form-control" [(ngModel)]="eUser.birthdate"
                mdbActive> -->
              <label class="active" for="birthdateForm">Geburtsdatum</label>
            </div>
          </div>
        </div>
        <!-- ./Geburtsdatum -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="closeAdminEditUserModal()"
          mdbRippleRadius>
          <i class="fa fa-exclamation mr-1"></i>Schließen</button>
        <button type="button" class="btn btn-primary btn-sm waves-light" data-dismiss="modal" (click)="saveAdminEditUserModal()"
          mdbRippleRadius>
          <i class="fa fa-save mr-1"></i>Speichern</button>
      </div>
    </div>
  </div>
</div>
<!-- ./Admin CP - UserEdit -->

<!-- Admin CP - RankEdit -->
<div *ngIf="editRankModal && eRank" [config]="{ show: true, ignoreBackdropClick: true }" mdbModal #editRankModal="mdb-modal"
  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ eRank.label }} Bearbeiten</h4>
        <button type="button" class="close pull-right" aria-label="Schliessen" (click)="closeAdminEditUserModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Bezeichnung  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="rankLabelFrom" class="form-control" [maxLength]="15" [(ngModel)]="eRank.label" mdbActive>
              <label class="active" for="rankLabelFrom">Bezeichnung</label>
            </div>
          </div>
        </div>
        <!-- ./Bezeichnung -->
        <!-- Farbe  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="rankColorFieldForm" [(colorPicker)]="eRank.hexcolor" [cpPosition]="'bottom'" [cpPositionOffset]="'5%'"
                [cpPositionRelativeToArrow]="true" class="form-control" [(ngModel)]="eRank.hexcolor" mdbActive>
              <label class="active" for="rankColorFieldForm">Farbe</label>
            </div>
          </div>
        </div>
        <!-- ./Farbe -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="closeAdminEditRankModal()"
          mdbRippleRadius>
          <i class="fa fa-exclamation mr-1"></i>Schließen</button>
        <button type="button" class="btn btn-primary btn-sm waves-light" data-dismiss="modal" (click)="saveAdminEditRankModal()"
          mdbRippleRadius>
          <i class="fa fa-save mr-1"></i>Speichern</button>
      </div>
    </div>
  </div>
</div>
<!-- ./Admin CP - RankEdit -->

<!-- Admin CP - BanEdit -->
<div *ngIf="editBanModal && eBan" [config]="{ show: true, ignoreBackdropClick: true }" mdbModal #editBanModal="mdb-modal"
  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Ban bearbeiten</h4>
        <button type="button" class="close pull-right" aria-label="Schliessen" (click)="closeAdminEditBanModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Benutzer  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="banUsernameForm" class="form-control" [maxLength]="15" [(ngModel)]="eBan.username" disabled mdbActive>
              <label class="active" for="banUsernameForm">Gebannter Benutzer</label>
            </div>
          </div>
        </div>
        <!-- ./Benutzer -->
        <!-- Grund  -->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <input type="text" id="banReasonForm" class="form-control" [(ngModel)]="eBan.reason" mdbActive>
              <label class="active" for="banReasonForm">Grund</label>
            </div>
          </div>
        </div>
        <!-- ./Grund -->
        <div class="row">
          <!-- Permanent -->
          <div class="col-md-6">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="eBan.permanent">
              <span class="custom-control-indicator"></span>
              Benutzer permanent Sperren?
            </label>
          </div>
          <!-- ./Permanent -->
          <!-- Datepicker != Permanent -->
          <div class="col-md-6" *ngIf="!eBan.permanent">
            <div class="md-form">
              <my-date-picker name="banExpireDate" id="expiresAtForm" [options]="myDatePickerOptions" [(ngModel)]="datepickBanExpiresObj"></my-date-picker>
              <!-- <input value="{{ eBan.expiresAt | date: 'dd.MM.yyyy' }}" type="datetime-local" id="expiresAtForm" class="form-control" [(ngModel)]="eBan.expiresAt"
                mdbActive> -->
              <label class="active" for="expiresAtForm">Gebannt bis</label>
            </div>
          </div>
          <!-- ./Datepicker != Permanent-->
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="closeAdminEditBanModal()"
          mdbRippleRadius>
          <i class="fa fa-exclamation mr-1"></i>Schließen</button>
        <button type="button" class="btn btn-primary btn-sm waves-light" data-dismiss="modal" (click)="saveAdminEditBanModal()" mdbRippleRadius>
          <i class="fa fa-save mr-1"></i>Speichern</button>
      </div>
    </div>
  </div>
</div>
<!-- ./Admin CP - RankEdit -->