/* Global Styles */

// y Scrollbar immer einblenden für keine Content Verschiebung
html {
  overflow-y: scroll;
}

// FIX fuer Content unter Navbar
body {
  padding-top: 75px;
}

// colums Padding auf 0 Setzen
.padding-0{
  padding-right:0;
  padding-left:0;
}
